<!-- <img class="img-fluid" src="../../../../assets/images/tempWork/coming-soon-managewp.png"> -->
<div class="row">
    <div class="col-lg-12 ">



        <div class="pagetitle">
            <div class="row">
                <div class="col-10">
                    <h3>Welcome, Healthwatch!</h3>
                </div>
                <div class="col-2">
                    <p class="text-end">
                        Current time<br>
                        12:10 PM
                    </p>
                    
                </div>
            </div>
            <!-- <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> -->
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-10">
                    <div class="row">

                        <!-- Sales Card -->
                        <div class="col-xxl-4 col-md-4">
                            <div class="card info-card sales-card">

                                <div class="card-body">
                                    <h5 class="card-title">Cardiologs, Holter</h5>
                                    <span>Monday, 12 June
                                        <br>
                                        Today’s shift: 09:30 am to 06:30 pm
                                    </span>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->

                        <!-- Sales Card -->
                        <div class="col-xxl-4 col-md-4">
                            <div class="card info-card sales-card">


                                <div class="card-body">
                                    <p class="card-title" style="font-size: 16px;">Breaks taken today</p>
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="progress" role="progressbar" aria-label="Example with label"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width: 25%;border-radius:20px"></div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            25%
                                        </div>
                                    </div>

                                    <span style="font-size: 11.5px;">Total break allowed: 60 Minutes</span>


                                </div>

                            </div>
                        </div><!-- End Sales Card -->

                        <!-- Revenue Card -->
                        <div class="col-xxl-4 col-md-4">
                            <div class="card info-card revenue-card">


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 text-center">Today’s target</div>
                                        <div class="col-6 text-center">Today’s achieved</div>
                                        <div class="col-6 mt-2 text-center" style="font-size: 23px;">30</div>
                                        <div class="col-6 mt-2 text-center" style="font-size: 23px;margin-bottom: -21px; color: #F85050;">
                                            00
                                            <br>
                                            <span style="color:#318CE7;font-size: 11.5px;">Update</span>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div><!-- End Revenue Card -->

                    </div>
                </div><!-- End Left side columns -->

                <div class="col-lg-2"></div>

                <div class="col-lg-12 mt-4">
                    <h3>Your Numbers at a Glance </h3>
                </div>

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-4 col-sm-12 mt-2">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title">Attendance</h5>
                                </div>
                                <div class="col-5">
                                    <select class="form-select" aria-label="select example">
                                        <option value="1">Today</option>
                                        <option selected value="2">This Week</option>
                                        <option value="3">This Month</option>
                                        <option value="4">This Year</option>
                                    </select>
                                </div>
                                <div class="col-12">Jun 2024</div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center">

                                        <div id="attendanceChart" style="height: 400px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div><!-- End Sales Card -->


                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-4 col-sm-12 mt-2">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title">Productivity</h5>
                                </div>
                                <div class="col-5">
                                    <select class="form-select" aria-label="select example">
                                        <option value="1">Today</option>
                                        <option selected value="2">This Week</option>
                                        <option value="3">This Month</option>
                                        <option value="4">This Year</option>
                                    </select>
                                </div>
                                <div class="col-12">Mar to Jun 2024</div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center">

                                        <div id="productionChart" style="height: 400px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-4 col-sm-12 mt-2">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title">Quality</h5>
                                </div>
                                <div class="col-5">
                                    <select class="form-select" aria-label="select example">
                                        <option value="1">Today</option>
                                        <option selected value="2">This Week</option>
                                        <option value="3">This Month</option>
                                        <option value="4">This Year</option>
                                    </select>
                                </div>
                                <div class="col-12">Jun 2024</div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center">

                                        <div id="qualityChart" style="height: 400px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div><!-- End Sales Card -->




            </div>
        </section>












        <!-- <img class="img-fluid" style="height: 450px;" src="../../../../assets/images/tempWork/MaintenanceError.webp"> -->


    </div>
</div>