<!-- <div class="container-lg" style="justify-content: center; background-color: #FAFAFA;">
    <br>

    <div class="row">
        <div class="col-sm">
            Personal Details
        </div>
        <div class="col-sm">
            Account Information
        </div>
        <div class="col-sm">
            Career History
        </div>
        <div class="col-sm">
            Document Library
        </div>
    </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
    </div>
    <div class="row">

        <div class="col-3">
            <br>
            <br>
            <br>
            <img class="rounded-circle shadow-4-strong" alt="avatar2" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" />

            <img class="img-thumbnail" alt="avatar2" src="src\modules\components\userProfile\user-profile\firefox-logo-200x200.bmp" />-->
<!-- <img class="rounded float-start" src="src\modules\components\userProfile\user-profile\firefox-logo-200x200.png"> -->


<!-- <div class="row" style="margin-left: 100px; font-weight: bold;">
                <br>
                Sivaguru M
            </div>
            <div class="row" style="margin-left: 105px;">
                CHC1704
            </div>
            <div class="row" style="margin-left: 80px;">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-6">
            <br>
            <br>
            <div class="row" style="margin-left: 30px;">


                <div class="col-4"><br>Email Address</div>


                <div class="col-3"><br>:</div>


                <div class="col-5" style="margin-left: -40px;"><br>msivaguru&#64;chcgroup.in</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Phone</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>9999999999</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Date of birth</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>1 January 1990</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Title</div>


                <div class="col-3"><br>:</div>


                <div class="col-5" style="margin-left: -40px;"><br>IT - Software Developer</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Band</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>Supervisory</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Grade</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>LL1</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Team</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>IT(CH)</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>


            </div>

        </div>

    </div>


</div> -->

<!--Ok Starts-->

<!-- <div class="container-fluid">
    <div class="row mb-4 text-center text-md-left">
        <div class="col">Personal Details</div>
        <div class="col">Account Information</div>
        <div class="col">Career History</div>
        <div class="col">Document Library</div>
    </div>
    <div class="info-row row section-divider"></div>
<br>
<br>
    <div class="row section-divider">
        <div class="col-md-3 text-center">
            
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar" src="../../../../assets/images/userProfile/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-md-9">
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Email Address</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">msivaguru&#64;chcgroup.in</div>
                
            </div>
            <br>
            
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Phone</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">9999999999</div>
               
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Date of birth</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">1 January 1990</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Title</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT - Software Developer</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Band</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">Supervisory</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Grade</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">LL1</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Team</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT(CH)</div>
               
            </div>
            <br>
        </div>
    </div>
</div> -->

<!--Ok Ends-->

<!--Ok previous Starts 27-07-2024-->
<!-- <div class="container-fluid">
    <div class="row mb-4 text-center text-md-left">
        <div class="col">Personal Details</div>
        <div class="col">Account Information</div>
        <div class="col">Career History</div>
        <div class="col">Document Library</div>
    </div>
    <div class="info-row row section-divider"></div>
<br>
<br>
    <div class="row section-divider">
        <div class="col-md-3 text-center">
            
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar" src="../../../../assets/images/userProfile/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-md-9">
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Email Address</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">msivaguru&#64;chcgroup.in</div>
                
            </div>
            <br>
            
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Phone</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">9999999999</div>
               
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Date of birth</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">1 January 1990</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Title</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT - Software Developer</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Band</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">Supervisory</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Grade</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">LL1</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Team</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT(CH)</div>
               
            </div>
            <br>
        </div>
    </div>
</div>  -->
<!--Ok Previous Ends 27-07-2024-->

<!--New Starts 27-07-2024-->

<!--starts Upto 29-07-2024 without navigate-->
<div class="container-fluid">
    
    <div class="row nav mb-4 text-center text-md-left">
        <div class="col">
            <div class="nav-item">
                <a class="nav-link active" id="personal-details-tab" data-toggle="tab" href="#personal-details"
                    role="tab" aria-controls="personal-details" aria-selected="true">Personal Details</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="account-info-tab" data-toggle="tab" href="#account-information" role="tab"
                    aria-controls="account-information" aria-selected="true">Account Information</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="career-history-tab" data-toggle="tab" href="#career-history" role="tab"
                    aria-controls="career-history" aria-selected="false">Career History</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="document-library-tab" data-toggle="tab" href="#document-library" role="tab"
                    aria-controls="document-library" aria-selected="false">Document Library</a>
            </div>
        </div>
    </div>
    <div class="info-row row section-divider"></div>
    <br>
    <br>


    

    <div class="row">
        <div class="col-md-3 text-center">
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar"
                src="../../../../assets/images/icons/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>

        <div class="col-md-9 profiletab">
            <div class="tab-content">
                <div class="tab-pane fade" id="personal-details" role="tabpanel" aria-labelledby="personal-details-tab">
                    

                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Email Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                        </div>
                        <br>
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Phone</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">9999999999</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Date of birth</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1 January 1990</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Title</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">IT - Software Developer</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Band</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Supervisory</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Grade</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">LL1</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Team</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">IT(CH)</div>
                        </div>
                        <br>

                    </div>
                    
                </div>
                <div class="tab-pane fade" id="account-information" role="tabpanel" aria-labelledby="account-info-tab">
                    

                    

                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Bank</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Tamilnad Mercantile Bank Limited (TMBL)</div>
                        </div>
                        <br>
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Account Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">IFSC Code</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">TMBL0000123</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Branch</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Karo Bagh, New Delhi</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">EPF Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">ESIC Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Insurance Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                    </div>
                    

                </div>

                <div class="tab-pane fade" id="career-history" role="tabpanel" aria-labelledby="career-history-tab">
                    

                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3">20 March 2023</div>
                            <div class="col-sm-6">
                                <div class="row">Salary revised</div>
                                <div class="row" style="margin-left: -23px;"><a class="download-link">Download salary
                                        revision letter</a></div>
                            </div>
                        </div>
                        <br>
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3">01 April 2022</div>
                            <div class="col-sm-6">
                                <div class="row">Promoted to LL2</div>
                                <div class="row" style="margin-left: -23px;"><a class="download-link">Download promotion
                                        letter</a></div>
                            </div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-medal-line"></i></div>
                            <div class="col-sm-3">22 March 2022</div>
                            <div class="col-sm-6">
                                <div class="row">CCT Certified</div>
                                <div class="row" style="margin-left: -23px;"><a class="download-link">Download CCT
                                        Certificate</a></div>
                                <div class="row" style="margin-left: -23px;"><a class="download-link">Download
                                        Certificate award picture</a></div>
                            </div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3">01 January 2022</div>
                            <div class="col-sm-6">
                                <div class="row">Appointment letter issued</div>
                                <div class="row" style="margin-left: -23px;"><a class="download-link">Download
                                        Appointment letter</a></div>
                            </div>
                        </div>
                        <br>


                        <br>

                    </div>
                    

                </div>
                <div class="tab-pane fade" id="document-library" role="tabpanel"
                    aria-labelledby="document-library-tab">
                    

                    <div class="col-md-12 profiletab">

                        <div class="row folder-row">
                            
                            <div class="col-sm-4 info-label"><a class="open-document-folder"><i class="ri-folder-open-fill"></i>
                                <div class="row folder-text">Onboarding</div>
                                <div class="row folder-text">documents</div></a>
                            </div>
                            
                            <div class="col-sm-4 info-label"><a class="open-document-folder"><i class="ri-folder-open-fill"></i>
                                <div class="row folder-text">Government</div>
                                <div class="row folder-text">identity cards</div></a>
                            </div>
                            <div class="col-sm-4 info-label"><a class="open-document-folder"><i class="ri-folder-open-fill"></i>
                                <div class="row folder-text">Joining and</div>
                                <div class="row folder-text">appointment letters</div></a>
                            </div>
                        </div>
                        <div class="row folder-row">
                            <div class="col-sm-4 info-label"><a class="open-document-folder"><i class="ri-folder-open-fill"></i>
                                <div class="row folder-text">Appraisal and</div>
                                <div class="row folder-text">promotion letters</div></a>
                            </div>
                            <div class="col-sm-4 info-label"><a class="open-document-folder"><i class="ri-folder-open-fill"></i>
                                <div class="row folder-text">Certificates and</div>
                                <div class="row folder-text">commendation letters</div></a>
                            </div>
                        </div>

                        



                        <br>
                        <br>
                    </div>
                    
                    
                </div>
                
                <div class="tab-pane fade show active" id="onboard-document-library" role="tabpanel"
                    aria-labelledby="onboard-document-library-tab">
                    
                        
                    <div class="col-md-12 profiletab">
                        <div class="row">
                            <div class="col" style="margin-left: 760px; color: #186BAB;"><a>&larr; Back</a></div>
                        </div>
                        

                        <div class="row folder-row">
                            
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">Experience letter</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 1 MB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                            
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">Joining form</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 220 KB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">Joining form</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 220 KB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                        </div>
                        <div class="row folder-row">
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">ID request form</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 5 KB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                            
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">Email address creation request form</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 5 KB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                            <div class="col-sm-4 info-label"><img class="onboard-doc-img" src="../../../../assets/images/icons/icons8-pdf-100.png"/>
                                <div class="row folder-doc-text-bold">Email address creation request form</div>
                                <div class="row folder-doc-text-small">collected : 1 January 2022</div>
                                <div class="row folder-doc-text-small">Size : 5 KB</div>
                                <div class="row folder-doc-download"><a><span>Download &nbsp;<i class="ri-download-2-fill"></i></span></a></div>
                            </div>
                        </div>

                        



                        <br>
                        <br>
                    </div>
                    
                    
                </div>
                
            </div>
        </div>

    </div>

</div>
<!--New Ends 27-07-2024-->
<!--Ends Upto 29-07-2024 without navigate-->

