<!--Testing Starts 30-07-2024-->
<div class="container-fluid">

    <div class="row nav mb-4 text-center text-md-left">

        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="PersonalDetails-tab" data-bs-toggle="tab"
                    data-bs-target="#bordered-justified-PersonalDetails" type="button" role="tab"
                    aria-controls="PersonalDetails" aria-selected="true">Personal Details</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="AccountInformation-tab" data-bs-toggle="tab"
                    data-bs-target="#bordered-justified-AccountInformation" type="button" role="tab"
                    aria-controls="AccountInformation" aria-selected="false">Account Information</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="CareerHistory-tab" data-bs-toggle="tab"
                    data-bs-target="#bordered-justified-CareerHistory" type="button" role="tab"
                    aria-controls="CareerHistory" aria-selected="false">Career History</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="DocumentLibrary-tab" data-bs-toggle="tab"
                    data-bs-target="#bordered-justified-DocumentLibrary" type="button" role="tab"
                    aria-controls="DocumentLibrary" aria-selected="false">Document Library</button>
            </li>
        </ul>


    </div>

    <br>






    <div class="row">
        <div class="col-md-3 text-center">
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar"
                src="../../../../assets/images/icons/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row-empcode flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row-country flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>

        <div class="col-md-9 profiletab">


            <div class="tab-content pt-2" id="borderedTabJustifiedContent">

                <div class="tab-pane fade show active" id="bordered-justified-PersonalDetails" role="tabpanel"
                    aria-labelledby="PersonalDetails-tab">
                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Email Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Phone</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">9999999999</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Date of birth</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1 January 1990</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Title</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">IT - Software Developer</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Band</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Supervisory</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Grade</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">LL1</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Team</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">IT(CH)</div>
                        </div>
                        <br>

                    </div>
                </div>
                <div class="tab-pane fade" id="bordered-justified-AccountInformation" role="tabpanel"
                    aria-labelledby="AccountInformation-tab">
                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Bank</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Tamilnad Mercantile Bank Limited (TMBL)</div>
                        </div>
                        <br>
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Account Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">IFSC Code</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">TMBL0000123</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Branch</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">Karo Bagh, New Delhi</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">EPF Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">ESIC Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label">Insurance Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-8">1234567890</div>
                        </div>
                        <br>

                    </div>

                </div>
                <div class="tab-pane fade" id="bordered-justified-CareerHistory" role="tabpanel"
                    aria-labelledby="CareerHistory-tab">

                    <div class="col-md-12 profiletab">
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3 career-date">20 March 2023</div>
                            <div class="col-sm-6">
                                <div class="row career-details-title">Salary revised</div>
                                <div class="row career-download-link"><a class="download-link">Download salary
                                        revision letter</a></div>
                            </div>
                        </div>
                        <br>
                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3 career-date">01 April 2022</div>
                            <div class="col-sm-6">
                                <div class="row career-details-title">Promoted to LL2</div>
                                <div class="row career-download-link"><a class="download-link">Download promotion
                                        letter</a></div>
                            </div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-medal-line"></i></div>
                            <div class="col-sm-3 career-date">22 March 2022</div>
                            <div class="col-sm-6">
                                <div class="row career-details-title">CCT Certified</div>
                                <div class="row career-download-link"><a class="download-link">Download CCT
                                        Certificate</a></div>
                                <div class="row career-download-link"><a class="download-link">Download
                                        Certificate award picture</a></div>
                            </div>
                        </div>
                        <br>

                        <div class="info-row row section-divider">
                            <br>
                            <br>
                            <div class="col-sm-3 info-label"><i class="ri-flag-fill"></i></div>
                            <div class="col-sm-3 career-date">01 January 2022</div>
                            <div class="col-sm-6">
                                <div class="row career-details-title">Appointment letter issued</div>
                                <div class="row career-download-link"><a class="download-link">Download
                                        Appointment letter</a></div>
                            </div>
                        </div>
                        <br>


                        <br>

                    </div>

                </div>
                <div class="tab-pane fade" id="bordered-justified-DocumentLibrary" role="tabpanel"
                    aria-labelledby="DocumentLibrary-tab">


                    <div class="col-md-12 profiletab">

                        @if(!Onboardingdocuments){
                        <div class="row folder-row text-center">


                            @for (item of documentdata; track $index) {
                            <div class="col-sm-4 info-label"><a class="open-document-folder"
                                    (click)="Onboardingdocuments = true"><i class="ri-folder-open-fill"></i>
                                    <p class="folder-text">{{item.fileName}}</p>
                                </a>
                            </div>
                            }

                        </div>
                        }
                        @else {                            

                            <div class="row folder-row">   

                                <div class="col-sm-10"><h5>Onboarding documents</h5></div>
                                <div class="col-sm-2 mt-1 text-center">
                                    <p><a class="link-underline link-underline-opacity-0" href="#">
                                            <i class="bi bi-chevron-left"></i>Back</a></p>
                
                                </div>
                                
                                @for (item of documentdetails; track $index) {
                                <div class="col-sm-4 mb-3 info-label"><img class="onboard-doc-img"
                                        src="../../../../assets/images/icons/icons8-pdf-100.png" />
                                    <div class="row folder-doc-text-bold">{{item.fileName}}</div>
    
                                    <div class="row folder-doc-text-small">collected : {{item.collectedDate}}</div>
                                    <div class="row folder-doc-text-small">Size : {{item.fileSize}}</div>
                                    <div class="row folder-doc-download"><a><span>Download &nbsp;<i
                                                    class="ri-download-2-fill"></i></span></a></div>
                                </div>
                                }
    
    
                            </div>
                        }

                    </div>

                    

                </div>

            </div><!-- End Bordered Tabs Justified -->




        </div>

    </div>

</div>