<!-- <div class="container-lg" style="justify-content: center; background-color: #FAFAFA;">
    <br>

    <div class="row">
        <div class="col-sm">
            Personal Details
        </div>
        <div class="col-sm">
            Account Information
        </div>
        <div class="col-sm">
            Career History
        </div>
        <div class="col-sm">
            Document Library
        </div>
    </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
    </div>
    <div class="row">

        <div class="col-3">
            <br>
            <br>
            <br>
            <img class="rounded-circle shadow-4-strong" alt="avatar2" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" />

            <img class="img-thumbnail" alt="avatar2" src="src\modules\components\userProfile\user-profile\firefox-logo-200x200.bmp" />-->
<!-- <img class="rounded float-start" src="src\modules\components\userProfile\user-profile\firefox-logo-200x200.png"> -->


<!-- <div class="row" style="margin-left: 100px; font-weight: bold;">
                <br>
                Sivaguru M
            </div>
            <div class="row" style="margin-left: 105px;">
                CHC1704
            </div>
            <div class="row" style="margin-left: 80px;">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-6">
            <br>
            <br>
            <div class="row" style="margin-left: 30px;">


                <div class="col-4"><br>Email Address</div>


                <div class="col-3"><br>:</div>


                <div class="col-5" style="margin-left: -40px;"><br>msivaguru&#64;chcgroup.in</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Phone</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>9999999999</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Date of birth</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>1 January 1990</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Title</div>


                <div class="col-3"><br>:</div>


                <div class="col-5" style="margin-left: -40px;"><br>IT - Software Developer</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Band</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>Supervisory</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Grade</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>LL1</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>
                <div class="col-4"><br>Team</div>


                <div class="col-3"><br>:</div>


                <div class="col-4" style="margin-left: -40px;"><br>IT(CH)</div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                </div>


            </div>

        </div>

    </div>


</div> -->

<!--Ok Starts-->

<!-- <div class="container-fluid">
    <div class="row mb-4 text-center text-md-left">
        <div class="col">Personal Details</div>
        <div class="col">Account Information</div>
        <div class="col">Career History</div>
        <div class="col">Document Library</div>
    </div>
    <div class="info-row row section-divider"></div>
<br>
<br>
    <div class="row section-divider">
        <div class="col-md-3 text-center">
            
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar" src="../../../../assets/images/userProfile/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-md-9">
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Email Address</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">msivaguru&#64;chcgroup.in</div>
                
            </div>
            <br>
            
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Phone</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">9999999999</div>
               
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Date of birth</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">1 January 1990</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Title</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT - Software Developer</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Band</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">Supervisory</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Grade</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">LL1</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Team</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT(CH)</div>
               
            </div>
            <br>
        </div>
    </div>
</div> -->

<!--Ok Ends-->

<!--Ok previous Starts 27-07-2024-->
<!-- <div class="container-fluid">
    <div class="row mb-4 text-center text-md-left">
        <div class="col">Personal Details</div>
        <div class="col">Account Information</div>
        <div class="col">Career History</div>
        <div class="col">Document Library</div>
    </div>
    <div class="info-row row section-divider"></div>
<br>
<br>
    <div class="row section-divider">
        <div class="col-md-3 text-center">
            
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar" src="../../../../assets/images/userProfile/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>
        <div class="col-md-9">
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Email Address</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">msivaguru&#64;chcgroup.in</div>
                
            </div>
            <br>
            
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Phone</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">9999999999</div>
               
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Date of birth</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">1 January 1990</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Title</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT - Software Developer</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Band</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">Supervisory</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Grade</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">LL1</div>
                
            </div>
            <br>
            <div class="info-row row section-divider">
                <br>
                <br>
                <div class="col-sm-3 info-label" style="margin-left: -15px;">Team</div>
                <div class="col-sm-1" style="margin-left: -35px;">:</div>
                <div class="col-sm-8" style="margin-left: -35px;">IT(CH)</div>
               
            </div>
            <br>
        </div>
    </div>
</div>  -->
<!--Ok Previous Ends 27-07-2024-->

<!--New Starts 27-07-2024-->
<div class="container-fluid">
    <!-- Navigation Tabs -->
    <div class="row nav mb-4 text-center text-md-left">
        <div class="col">
            <div class="nav-item">
                <a class="nav-link active" id="personal-details-tab" data-toggle="tab" href="#personal-details"
                    role="tab" aria-controls="personal-details" aria-selected="true">Personal Details</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="account-info-tab" data-toggle="tab" href="#account-information" role="tab"
                    aria-controls="account-information" aria-selected="false">Account Information</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="career-history-tab" data-toggle="tab" href="#career-history" role="tab"
                    aria-controls="career-history" aria-selected="false">Career History</a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item">
                <a class="nav-link" id="document-library-tab" data-toggle="tab" href="#document-library" role="tab"
                    aria-controls="document-library" aria-selected="false">Document Library</a>
            </div>
        </div>
    </div>
    <div class="info-row row section-divider"></div>
    <br>
    <br>


    <!-- Tab Content -->

    <div class="row">
        <div class="col-md-3 text-center">
            <img class="rounded-circle shadow-4-strong avatar" alt="avatar"
                src="../../../../assets/images/userProfile/10937670.png" />
            <div class="info-row mt-3" style="font-weight: bold; font-size: 20px;">
                Sivaguru M
            </div>
            <div class="info-row flex-md-nowrap">
                CHC1704
            </div>
            <div class="info-row flex-md-nowrap">
                Tamilnadu, India
            </div>
        </div>

        <div class="col-md-9 profiletab">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="personal-details" role="tabpanel"
                    aria-labelledby="personal-details-tab">
                    <div class="row section-divider">

                        <div class="col-md-12 profiletab">
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Email Address</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                            </div>
                            <br>
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Phone</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">9999999999</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Date of birth</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">1 January 1990</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Title</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT - Software Developer</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Band</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">Supervisory</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Grade</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">LL1</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Team</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT(CH)</div>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account-information" role="tabpanel" aria-labelledby="account-info-tab">
                    <!-- Account Information content goes here -->

                    <div class="row section-divider">

                        <div class="col-md-12 profiletab">
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Bank</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                            </div>
                            <br>
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Phone</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">9999999999</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Date of birth</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">1 January 1990</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Title</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT - Software Developer</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Band</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">Supervisory</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Grade</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">LL1</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Team</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT(CH)</div>
                            </div>
                            <br>

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="career-history" role="tabpanel" aria-labelledby="career-history-tab">
                    <!-- Career History content goes here -->
                    <div class="row section-divider">

                        <div class="col-md-12 profiletab">
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Email Address</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                            </div>
                            <br>
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Phone</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">9999999999</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Date of birth</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">1 January 1990</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Title</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT - Software Developer</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Band</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">Supervisory</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Grade</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">LL1</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Team</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT(CH)</div>
                            </div>
                            <br>

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="document-library" role="tabpanel" aria-labelledby="document-library-tab">
                    <!-- Document Library content goes here -->
                    <div class="row section-divider">

                        <div class="col-md-12 profiletab">
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Email Address</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">msivaguru&#64;chcgroup.in</div>
                            </div>
                            <br>
                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Phone</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">9999999999</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Date of birth</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">1 January 1990</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Title</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT - Software Developer</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Band</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">Supervisory</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Grade</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">LL1</div>
                            </div>
                            <br>

                            <div class="info-row row section-divider">
                                <br>
                                <br>
                                <div class="col-sm-3 info-label">Team</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-8">IT(CH)</div>
                            </div>
                            <br>

                        </div>
                    </div>
                    <!--End of tab content-->
                </div>
            </div>
        </div>

    </div>

</div>
<!--New Ends 27-07-2024-->