.nav-item {
    padding: 0px 15px;

    button {
        width: 133px;
        border-radius: 20px;
    }
}


// first design
// .hi-slide {
//     position: relative;
//     width: 754px;
//     height: 292px;
//     border-radius: 50px;
//     margin: 50px auto 0;
// }

// .hi-slide .hi-next,
// .hi-slide .hi-prev {
//     position: absolute;
//     top: 50%;
//     width: 40px;
//     height: 40px;
//     margin-top: -20px;
//     border-radius: 50px;
//     line-height: 40px;
//     text-align: center;
//     cursor: pointer;
//     background-color: white !important;
//     color: #318CE7 !important;
//     transition: all 0.7s;
//     font-size: 50px;
// }

// .hi-slide .hi-next:hover,
// .hi-slide .hi-prev:hover {
//     opacity: 1;
//     background-color: white;
// }

// .hi-slide .hi-prev {
//     left: -59px;
// }

// .hi-slide .hi-prev::before {
//     content: '<';
// }

// .hi-slide .hi-next {
//     right: -59px;
// }

// .hi-slide .hi-next::before {
//     content: '>';
// }

// .hi-slide>ul {
//     list-style: none;
//     position: relative;
//     width: 754px;
//     height: 292px;
//     margin: 0;
//     padding: 0;
// }

// .hi-slide>ul>li {
//     overflow: hidden;
//     position: absolute;
//     z-index: 0;
//     left: 377px;
//     top: 147px;
//     width: 0;
//     height: 0;
//     margin: 0;
//     padding: 0;
//     border: 3px solid white;
//     cursor: pointer;
//     background-color: #333;

// }

// .hi-slide>ul>li>img {
//     width: 100%;
//     height: 100%;
//     background-position: center;
// }

//end first design

.daterangedata .row {

    .col-3 {
        text-align: center;

        .card {
            height: 350px
        }
    }
}



.sendwisesh {
    border-radius: 20px;
    background-color: #FFE47A;
    width: 150px;
    margin-top: 10px;

}

// .daterangedata img{
//     border-radius: 50%;
//     padding: 8px;
//     // border: 3px solid black;


// }


.module {
    background: #ffffff;
    color: white;
    border-radius: 50%;
    margin-top: 15px;
}


.white-grad {
    --b: 5px;
    /* border width*/
    color: #313149;
    display: inline-block;
    margin: 10px;
    width: 150px;
    aspect-ratio: 1;
    position: relative;
    z-index: 0;
}

.white-grad:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--c, linear-gradient(to right, #FF68C3, #FF8CA3, #FFA789, #FFDB5C));
    padding: var(--b);
    border-radius: 50%;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


//second design

// swiper-slide {
//     height: 350px;    
// }

// swiper-slide {
//     background-color: red;
// }

// swiper-slide:nth-of-type(2) {
//     background-color: green;
// }

// swiper-slide:nth-of-type(3) {
//     background-color: blue;
//     color: white;
// }

// swiper-slide:nth-of-type(4) {
//     background-color: yellow;
// }


//other seconda image

#seconddesign {
    background-image:
        linear-gradient(to top right, #ffffff, #727272);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.slider {
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}

#next {
    left: unset;
    right: 400px;
}

#next::before {
    content: '>';
}

#prev::before {
    content: '<';
}
