/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

// body.toggle-sidebar .sidebar {
//     display: none; /* Adjust as needed */
//   }



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  color: #444444;
}


a {
    color: #41abf1;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #318CE7;
    cursor: pointer;
  }


  /*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 5rem;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

 
@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left:  5rem;
  }
}


@media (min-width: 1200px) {
  
  #main,
  #footer {
    margin-left: 5rem;
    background-color: #FAFAFA;

  }
}

//my code

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}



@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/effect-coverflow';

.slider-effectCoverflow {
    width: 70%;
    height: 685px; // Adjusted height to accommodate larger center slide
    margin: 40px auto;

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide-active {
        transform: scale(1.5); // Make the active slide larger by 1.5 times
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        opacity: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: white;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 15px;
        font-weight: bold;
    }
}

.swiper-slide-next{
  height: 400px;
}