<div class="container-fluid login-root">
    <div class="box-root " style="min-height: 100vh;flex-grow: 1;">
        <div class="row login-nav d-flex align-items-center">
            <div class="col-lg-6 login-log ">
                <img class="rounded mx-auto d-block" src="../../../../assets/images/logos/meterbox logo.png">
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                    <li><a href="">chchealthwatch.com</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                    <li><a href="">homeicu.com</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="datetimediv">
                    Monday, 12 June
                    <br>12:59 pm
                </div>
            </div>
        </div>


        <div class="row rowbody ">
            <div class="col-lg-12 ">
                <div class="row">
                    <div class="col-6">

                        <!-- <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">New Register</h5>
                                <form class="row g-3">

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingEmail"
                                                placeholder="Your Email">
                                            <label for="floatingEmail">Email ID</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>




                </div>
                <div class="col-6">
                    <img src="../../../../assets/images/logos/growth.png">
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-6" style="background-color: red; height: 500px; ">
                <h2>Loginssssssssss</h2>
            </div>
            <div class="col-lg-6">
                <h2>Loginssssssssss</h2>
            </div> -->

    </div>

</div>