<div class="container-fluid login-root">
    <div class="box-root " style="min-height: 100vh;flex-grow: 1;">

        <div class="row login-nav  d-flex align-items-center" style="background-color: white">
            <div class="col-lg-6 login-log ">
                <img class="rounded mx-auto d-block" src="../../../../assets/images/logos/meterbox logo.png">
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                    <li><a href="">chchealthwatch.com</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                    <li><a href="">homeicu.com</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="datetimediv">
                    Monday, 12 June
                    <br>12:59 pm
                </div>
            </div>
        </div>
        
        <div class="row no-gutters shadow-lg" >

            <div class="col-md-6  bg-white p-5 d-flex justify-content-center" >
                <div class="text-center" style="width: 450px;">


                    <p class="pb-3 text-center" style="font-size: 20px;">Log in</p>
                    <div class="form-style">
                        <form>
                            <div class="form-group mt-4 pb-3">
                                <input type="email" placeholder="Employee code or email address" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group mt-4 pb-3">
                                <input type="password" placeholder="Password" class="form-control"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <!-- <input name="" type="checkbox" value="" />
                                        <span class="pl-2 font-weight-bold">Remember Me</span> -->
                                </div>
                                <div><a href="#" style="color: #318CE7;text-decoration: none; ">Forget Password?</a></div>
                            </div>
                            <div class="mt-5 text-center">
                                <!-- <button type="submit"
                                        class="btn btn-dark w-100 font-weight-bold mt-2">Submit</button> -->
                                <button type="button" class="btn btn-secondary btn-lg">Submit</button>
                                <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                            </div>
                        </form>
                        <!-- <div class="sideline">OR</div> -->
                        <!-- <div>
                                <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2"><i
                                        class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook</button>
                            </div> -->
                        <!-- <div class="pt-4 text-center">
                                Get Members Benefit. <a href="#">Sign Up</a>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block ">
                <img src="../../../../assets/images/logos/growth.png" 
                class="img-fluid" style="width: 1064px; height: 533px; " />
            </div>
        </div>

    </div>

</div>